@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
  font-family: "Inconsolata";
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 700px;
  margin: auto;
}

.desc {
  max-width: 32em;
}

.kotak-input {
  display: block;
  resize: none;
  padding: 10px;
}

p > span {
  font-weight: bold;
}

p > span:nth-child(1) {
  color: blue;
}

p > span:nth-child(2) {
  color: green;
}

p > span:nth-child(3) {
  color: red;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

/* mode gelap */
.dark-mode {
  background-color: #1b1f2a;
  color: white;
}

/* editor-kecil */
.dark-mode #editor-kecil {
  background-color: #2e3443;
  color: white;
}

/* button mode gelap*/
.dark-mode button {
  background-color: #29ddcc;
  border: none;
}